.header {
  display: flex;
  flex-direction: row;
  background: darkorange;
  align-items: center;
  padding: 2px;
}

.filler {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}
a {
    text-decoration: none;
    color: black;
  }

a.link:hover , a.link:active {
  color: white;
}
.active {
  color: white;
}
