.detail {
  width: 60%;
  justify-content: center;
  margin-left: 2%;
  padding: 1%;
  padding-top: 0px;
}

a {
  text-decoration: none;
  color: black;
}
.desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
}
.ingr {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
.ing-border {
  border: orange solid 1px;
  padding: 3%;
  margin: 0px;
  margin-bottom: 1px;
  margin-left: 5px;
  border-radius: 50px;
}
